@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --Violet: hsl(257, 40%, 49%);
    --SoftMagenta: hsl(300, 69%, 71%);
}

body,
main {
    display: flex;
}

body {
    max-height: 100vh;
    max-width: 100vw;
    flex-direction: column;
    background: url('images/bg-mobile.svg') no-repeat;
    background-size: contain;
    background-color: var(--Violet);
    margin: 2rem;
    font-family: 'Open Sans', sans-serif;
    color: white;
    /* font-family: 'Poppins', sans-serif; */
}

.header__logo {
    margin: 0.5rem;
    margin-bottom: 3.5rem;
}

.header__logo img {
    width: 45%;
}

main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.content__img img {
    max-width: 320px;
}

.content__text h1 {
    font-family: 'Poppins';
    font-weight: 600;
}

.content__text p {
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 3rem;
}

.content__text a {
    display: inline-block;
    background-color: white;
    color: var(--Violet);
    font-family: 'Poppins';
    width: 60%;
    font-weight: 400;
    padding: 1rem;
    border-radius: 2rem;
}

.content__text a:hover{
    background-color: var(--SoftMagenta);
    color: white;
}

.content__socials {
    margin-top: 5rem;
}

.content__socials:nth-child(n) i{
    padding: 0.5rem;
    margin: 0.25rem;
    border: 1px solid white;
    border-radius: 100%;
    cursor: pointer;
}

.content__socials:nth-child(n) i:hover{
    color: var(--SoftMagenta);
    border: 1px solid var(--SoftMagenta);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {


    body {        
        margin: 2.5rem;
        flex-direction: column;
        background-image: url('images/bg-desktop.svg');
        background-color: var(--Violet);
    }

    .header__logo img {
        max-width: 300px;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.8fr 0.2fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin: 3rem;
        margin-left: 5rem;
        height: 100%;
    }

    .header__logo {
        margin-left: 9rem;
        margin-bottom: 1.5rem;
    }

    .header__logo img {
        max-width: 250px;
    }
    
    .content__img {
        grid-area: 1 / 1 / 2 / 2;
    }
    
    .content__img img {
        max-width: 800px;
    
    }
    
    .content__text {
        text-align: start;
        align-self: flex-start;
        margin: 2.5rem;
        grid-area: 1 / 2 / 2 / 3;
    }
    
    .content__socials {
        grid-area: 2 / 1 / 3 / 3;
        margin-top: 0;
    }

    .content__text a {
        max-width: 200px;
        text-align: center;
    }

}