@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* font-family: 'Outfit', sans-serif; */

:root {
    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --VeryDBMain: hsl(217, 54%, 11%);
    --VeryDBCard: hsl(216, 50%, 16%);
    --VeryLine: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body,
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--VeryDBMain);
}

body {
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
}

main {
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--VeryDBCard);
    padding: 1.5rem;
    border-radius: 0.75rem;
    max-width: 300px;
    gap: 1.2rem;
    margin: 1.2rem;
    box-shadow: 0px 30px 25px rgb(0 0 0 / 0.5);
}

.card__img {
    width: 100%;
    border-radius: inherit;
}

.card__title {
    font-weight: 700;
    font-size: larger;
    color: var(--White);
}

.card__text {
    color: var(--Softblue);
}

.card__price {
    color: var(--Cyan);
}

.card__time {
    color: var(--Softblue);
}


.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: stretch;
}

.row-2 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-items: center;

}

.card__line {
    height: 1px;
    background: var(--VeryLine);
}

.card__author {
    color: var(--Softblue);
    font-weight: 300;
}

.card__authorImg {
    width: 40px;
    border: 1px solid white;
    border-radius: 100px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}